@keyframes fadeIn {
	from {
		opacity : 0
	}
	to {
		opacity : 1
	}
}

aside {
	position  : absolute;
	transform : translate(-125%, 5px);
	color     : var(--gray);
}

a:visited {
	color : var(--blue);
}

a, .link {
	display : inline-block;
	cursor  : pointer;
	color   : var(--blue);
}

.wrapper {
	position : relative;
	width    : 900px;
	margin   : auto;
}

.popup-wrapper {
	position       : fixed;
	z-index        : 10000;
	left           : 0;
	width          : 100%;
	height         : 100%;
	pointer-events : none;
}

.popup-wrapper > * {
	pointer-events : auto;
}

.flex {
	display : flex;
}

.social-medias {
	display         : flex;
	justify-content : space-between;
	column-gap      : 25px;
}

.badges-list {
	display         : flex;
	width           : 100%;
	margin          : 0 0 10px 0;
	padding         : 0;
	list-style-type : none;
	gap             : 10px;
}

.blur-background {
	position        : fixed;
	z-index         : 100;
	top             : 0;
	left            : 0;
	width           : 100%;
	height          : 100%;
	transition      : all 1s;
	pointer-events  : none;
	backdrop-filter : blur(5px);
}

.blur-background.hidden {
	backdrop-filter : blur(0);
}

.popup-container {
	position         : absolute;
	z-index          : 9999;
	top              : 50%;
	left             : 50%;
	display          : flex;
	overflow         : hidden;
	height           : 80vh;
	padding          : 40px;
	transition       : all 1s;
	transform        : translate(-50%, -50%);
	opacity          : 1;
	border-radius    : 20px;
	background-color : var(--dark_blue_background);
	box-shadow       : 0 5px 10px rgba(0, 0, 0, .7);
}

.popup-container.hidden {
	left    : -150%;
	opacity : 0;
}

.popup-close {
	position : fixed;
	top      : 10px;
	right    : 10px;
}

.email {
	position        : fixed;
	z-index         : 99999;
	right           : 25px;
	bottom          : 50px;
	text-decoration : none;
}

#nav__Mobile {
	display : none;
}

#nav__Desktop {
	position  : fixed;
	top       : 50%;
	left      : 0;
	transform : translateY(-50%);
}

#nav__Desktop ul {
	list-style : none;
}

#nav-menu__Mobile{
	transition: all 0.8s;
}

nav p {
	font-size  : 1.2rem;
	margin     : 1rem 0;
	transition : all 0.5s;
	color      : var(--gray);
}

nav p:hover {
	color : var(--light_blue);
}

nav p.active {
	font-size : 1.5rem;
	color     : var(--light_blue);
}

#home {
	position : relative;
	height   : 100vh;
}

#home > .container {
	position  : absolute;
	top       : 45%;
	left      : 0;
	width     : 100%;
	transform : translateY(-50%)
}

#home aside {
	transform : translate(-125%, 12px);
}

#home p {
	margin-top : 30px;
}

#home .title {
	position : relative;
}

#home .social-medias {
	position : absolute;
	right    : 0;
	bottom   : 10px;
}

#home #scroll-down {
	position       : absolute;
	bottom         : 10%;
	left           : 50%;
	display        : flex;
	flex-direction : column;
	width          : auto;
	transform      : translateX(-50%);
}

#home #scroll-down svg {
	transform : translateY(-15%)
}

#home #scroll-down > * {
	margin : auto;
}

#about .info-container {
	position        : relative;
	display         : inline-flex;
	justify-content : space-between;
}

#about .info-container ul {
	margin-top : 5px;
}

#about .info-container img {
	position      : absolute;
	object-fit: cover;
	
	right         : -50px;
	width         : 250px;
	height        : 300px;
	border-radius : 5px;
	box-shadow    : 10px 10px var(--light_blue)
}

#about .info-container .info {
	width : 65%;
}

#experience {
	min-height : 450px;
	margin: 10rem auto;
}

#experience hr {
	border-color : var(--dark_gray);
}

#experience .options {
	display : inline-flex;
	gap     : 30px;
}

#experience .active {
	color : var(--light_blue);
}

#experience .container {
	display    : inline-flex;
	margin-top : 10px;
	justify-content: space-between;
	width: 100%;
}

#experience button {
	font-size        : 1.6rem;
	font-weight      : bold;
	padding          : 0;
	color            : var(--gray);
	border           : 0;
	background-color : transparent;
}

#experience .container > ul {
	width      : 20%;
	margin     : 5px 0 0 0;
	padding    : 0;
	list-style : none;
}

#experience .container > ul li {
	font-weight  : normal;
	padding-left : 1rem;
	transition   : all .5s;
	border-left  : 1px solid var(--gray);
}

#experience .container > ul li.active {
	border-left : 5px solid var(--light_blue);
}

#experience .container > ul h3 {
	font-weight : normal;
	padding     : 0.5rem 0;
}

#projects > div {
	margin : 8rem 0;
}

#projects svg {
	font-size : 1.65rem;
}

#projects footer p {
	font-size   : 0.8rem;
	font-weight : bold;
	bottom      : 0;
	display     : inline-flex;
	color       : var(--dark_gray);
}

.featured-project {
	display          : flex;
	overflow         : hidden;
	flex-direction   : row-reverse;
	height           : auto;
	margin-bottom    : 2rem;
	transition       : all 1s;
	border-radius    : 15px;
	background-color : var(--dark_blue);
}

.featured-project:hover {
	box-shadow : 5px 10px var(--light_blue);
}

.featured-project:nth-child(2n) {
	flex-direction : row;
}

.featured-project .project-image {
	width               : 300px;
	height              : auto;
	background-position : center;
	background-size     : cover;
}

.featured-project__container {
	justify-content : space-between;
	width           : 100%;
	margin          : 0 3rem;
	padding         : 2rem 0;
}

.featured-project__container header {
	display         : inline-flex;
	justify-content : space-between;
	width           : 100%;
}

.featured-project__description {
	margin : 1rem 0;
}

.featured-project__description p:first-child {
	overflow   : hidden;
	max-height : 6ch;
}

.featured-project__links {
	top         : 5px;
	right       : 0;
	display     : inline-flex;
	align-items : center;
	gap         : 20px;
}

.projects-grid {
	display               : grid;
	grid-template-columns : repeat(3, 1fr);
	grid-gap              : 20px;
}

.project {
	position      : relative;
	z-index       : 1;
	overflow      : hidden;
	height        : 300px;
	transition    : all 0.5s;
	border-radius : 15px;
	background    : var(--dark_blue);
	box-shadow    : 0 0 var(--light_blue);
}

.project.hide {
	box-shadow : 5px 10px var(--light_blue);
}

.project__cover {
	position       : absolute;
	left           : 0;
	width          : 100%;
	height         : 100%;
	transition     : all 0.5s;
	pointer-events : none;
}

.project__cover > div {
	position            : absolute;
	z-index             : 1;
	width               : 100%;
	height              : 100%;
	transition          : all 0.5s;
	pointer-events      : none;
	opacity             : 1;
	background-repeat   : no-repeat;
	background-position : center;
	background-size     : cover;
}

.project__cover.hide > div {
	height  : 0;
	opacity : 0;
}

.project__container {
	margin : 1.5rem;
}

.project__container > div {
	height : 100%;
}

.project__links {
	display         : flex;
	flex-direction  : row;
	justify-content : space-around;
	width           : 50%;
	margin          : 1rem auto;
}

.project__description p:first-child {
	overflow   : hidden;
	max-height : 8ch;
}

.icon-link {
	position : relative;
}

.icon-link a {
	position : absolute;
	z-index  : 1000;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

.markdown{
	color: var(--text_primary);
	width: 100%;
}

.markdown > * {
	animation : fadeIn 1s forwards;
}

.markdown h1 {
	font-size : 2rem;
}
.markdown > li, .markdown > ul, .markdown > p {
	line-height: 1.5;
}

#markdown-popup-content {
	overflow           : scroll;
	flex               : 1;
	margin-top         : 25px;
	-ms-overflow-style : none; /* IE 11 */
	scrollbar-width    : none; /* Firefox 64 */
}

#markdown-popup h1 {
	font-size      : 2rem;
	padding-bottom : .3em;
	border-bottom  : 1px solid var(--dark_gray);
}

#markdown-popup h2 {
	font-size      : 1.5rem;
	padding-bottom : .3em;
	border-bottom  : 1px solid var(--dark_gray);
}

#markdown-popup p {
	margin : 1rem 0;
}

#markdown-popup img {
	max-width : 100%;
}

#markdown-popup-content::-webkit-scrollbar {
	display            : none;
	-ms-overflow-style : none; /* IE 11 */
	scrollbar-width    : none; /* Firefox 64 */
}

#top-gradient, #bottom-gradient {
	position : fixed;
	z-index  : 1000;
	left     : 0;
	width    : 100%;
	height   : 80px;
}

#top-gradient {
	top        : 0;
	background : linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

#bottom-gradient {
	bottom     : 0;
	background : linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

footer#main-footer {
	height     : 60px;
	text-align : center;
}

@media (max-width : 768px) {
	#email__Desktop {
		display : none;
	}
	
	#nav__Desktop {
		display : none;
	}
	
	#nav__Mobile {
		display : block;
	}
	
	#nav-menu-button {
		position   : fixed;
		z-index    : 100000;
		top        : 10px;
		right      : 10px;
		padding    : 20px;
		background : var(--dark_blue);
		transition       : all 0.8s;
	}
	
	#nav-menu-button.active{
		transform: rotate(-90deg);
	}
	
	#nav_Mobile {
		width  : 100%;
		height : 100%;
	}
	
	#nav-menu__Mobile {
		position   : fixed;
		z-index    : 99999;
		top        : 0;
		left       : 100%;
		display    : block;
		width      : 100%;
		height     : 100%;
		background : var(--dark_blue);
		transition : all 0.8s;
	}
	
	#nav-menu__Mobile.active {
		transform: translateX(-100%);
	}
	
	#nav-menu__Mobile ul {
		font-size  : 1.8rem;
		margin-top : 40%;
		padding    : 0;
		text-align : center;
	}
	
	#nav__Mobile ul li {
		margin : 1.5rem;
	}
	
	#email__Mobile {
		position  : absolute;
		bottom    : 50px;
		left      : 50%;
		transform : translateX(-50%);
	}
	
	.nav-menu__Mobile {
		padding : 3rem;
	}
	
	#nav-menu__Mobile .social-medias {
		width  : 50%;
		margin : 50px auto;
	}
	
	.popup-close {
		position : fixed;
		top      : 15px;
		right    : 35px;
	}
	h1 {
		font-size   : 2.5rem;
		line-height : 1;
	}
	
	h2 {
		font-size : 1.5rem;
	}
	
	aside, #home aside {
		position  : relative;
		transform : translate(0, 0);
	}
	
	.wrapper {
		width : 90%;
	}
	
	#home .social-medias {
		display : none;
	}
	
	#about .info-container {
		display        : flex;
		flex-direction : column;
	}
	
	#about .info-container .info {
		width : 100%;
	}
	
	#about .info-container img {
		position : relative;
		right    : 0;
		width    : 90%;
		height   : auto;
		margin   : auto;
	}
	
	#experience {
		width : 100%;
	}
	
	#experience .container {
		display        : flex;
		flex-direction : column;
		
	}
	
	#experience .container ul {
		width         : 100%;
		margin-bottom : 2rem;
	}
	
	#experience .container .markdown {
		width : 100%;
	}
	
	#experience .markdown h6 {
		text-align : center;
	}
	
	#experience .container .markdown ul {
		width        : 90%;
		padding-left : 2rem;
	}
	.featured-project {
		display : block;
	}
	
	.featured-project header {
		display        : flex;
		flex-direction : column;
	}
	
	.featured-project__links {
		display         : inline-flex;
		justify-content : space-around;
		width           : 50%;
		margin          : 1rem auto 0 auto;
	}
	
	#projects svg {
		font-size : 2.3rem;
	}
	
	.featured-project .project-image {
		width  : auto;
		height : 250px;
	}
	
	.featured-project__container {
		width  : 90%;
		margin : auto
	}
	
	#projects > div {
		margin-top : 0;
	}
	
	.projects-grid {
		grid-template-columns : repeat(1, 1fr);
		grid-gap              : 30px;
	}
	
}